@charset "UTF-8";

:root,
[data-bs-theme=light] {
    --bs-primary: #D03827;
    --bs-primary-light1: #EB6152;
    --bs-primary-light2: #EB8175;
    --bs-primary-light3: #EBA198;
    --bs-primary-light4: #EBC0BC;
    --bs-secondary: #434343;
    --bs-secondary-light1: #666666;
    --bs-secondary-light2: #999999;
    --bs-secondary-light3: #CCCCCC;
    --bs-secondary-background: #EEEEEE;
    --bs-secondary-dark: #262626;
    --bs-primary-rgb: 208, 56, 39;
    --bs-secondary-rgb: 67, 67, 67;
    --bs-primary-text: #B83122;
    --bs-secondary-text: #292929;
    --bs-body-color-rgb: 38, 38, 38;
    --bs-body-bg-rgb: 238, 238, 238;
    --bs-body-color: #262626;
    --bs-body-bg: #EEEEEE;
    --bs-link-color: #D03827;
    --bs-link-color-rgb: 208, 56, 39;
    --bs-link-decoration: none;
    --bs-link-hover-color: #D71F0B;
    --bs-link-hover-color-rgb: 215, 31, 11;
    --bs-font-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-size: 16px;
    --bs-border-radius: 16px;
    --bs-border-radius-sm: 8px;
    --bs-border-radius-lg: 24px;
    --bs-border-radius-xl: 32px;
    --bs-border-radius-2xl: 40px;
}


nav {
    background-color: var(--bs-primary-light1);
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: #262626;
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav2 {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: rgb(0, 0, 0);
    --bs-nav-link-hover-color: #EB6152;
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav3 {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #666666;
    --bs-nav-link-hover-color: #262626;
    --bs-nav-link-disabled-color: #999999;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

#nav-dark {
    background-color: var(--bs-secondary-dark);
    color: white;
}

footer {
    background-color: var(--bs-secondary);
    color: white;
}

.form,
.previous-step {
    background: #616161;
}

.form,
.next-step {
    background: #106ed8;
}

#form .previous-step,
.next-step {
    font-weight: bold;
    color: white;
}

#progressbar li:before {
    font-size: 12px;
    color: #ffffff;
    background: lightgray;
}

#progressbar li:after {
    background: lightgray;
}

#form .previous-step:hover,
#form .previous-step:focus {
    background-color: #000000
}

#form .next-step:hover,
#form .next-step:focus {
    background-color: #106ed8
}


#progressbar .active {
    color: #106ed8
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #106ed8
}

.list-item {
    background-color: rgb(235, 234, 234);
}

.rounded-button {
    background-color: darkgrey;
}

.plugin-list-item {
    border-color: #000000;
}

.btn-primary {
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #D03827;
    --bs-btn-border-color: #FC250D;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: #D71F0B;
    --bs-btn-hover-border-color: #CA1D0A;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #CA1D0A;
    --bs-btn-active-border-color: #BE1C0A;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FFFFFF;
    --bs-btn-disabled-bg: #EB6152;
    --bs-btn-disabled-border-color: #EB6152;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #666666;
    --bs-btn-border-color: #917D7D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6B5C5C;
    --bs-btn-hover-border-color: #615353;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #615353;
    --bs-btn-active-border-color: #574B4B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #CCCCCC;
    --bs-btn-disabled-border-color: #CCCCCC;
}

.btn-light {
    --bs-btn-color: #000;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}

.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: var(--bs-secondary-light1) !important
}

.gap-2 {
    gap: 0.5rem !important;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.btn {
    --bs-btn-font-size: 16px;
}

.p {
    font-size: 16px;
}

.small {
    font-size: 12px;
}

.form-control {
    font-size: 16px;
}

.progress {
    --bs-progress-height: 24px;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: 12px;
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #EEEEEE;
    --bs-progress-bar-bg: #EB8175;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: #EEEEEE;
    border-radius: var(--bs-progress-border-radius);
}