@charset "UTF-8";

/*!
 * -
 * Copyright 2022
 * Licensed 
 */

html {
    height: 100%
}

#form .previous-step,
.next-step {
    width: 100px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

.form,
.previous-step {
    background: #616161;
}

.form,
.next-step {
    background: #2F8D46;
}

#form .previous-step:hover,
#form .previous-step:focus {
    background-color: #000000
}

#form .next-step:hover,
#form .next-step:focus {
    background-color: #2F8D46
}


#progressbar .active {
    color: #106ed8
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: ""
}

#progressbar #step2:before {
    content: ""
}

#progressbar #step3:before {
    content: ""
}

#progressbar #step4:before {
    content: ""
}

#progressbar #step5:before {
    content: ""
}

#progressbar li:before {
    width: 16px;
    height: 16px;
    line-height: 45px;
    display: block;
    font-size: 12px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 7px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #106ed8
}









.body {
    background-color: #F5F7F8;
}

.container {
    margin-right: 40px;
    margin-left: 40px;
}

.my-custom-row {
    background-color: lightblue;
    height: 600px;
}

.my-custom-commands-col {
    background-color: bisque;
}

.my-custom-hand-col {
    background-color: pink;
    height: auto;
}

.row-center {
    display: flex;
    text-align: center;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.image-placeholder-small {
    height: 128px;
    width: 128px;
    background-color: grey;
    margin-bottom: 8px;
}

.image-placeholder {
    height: 200px;
    width: 200px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.image-placeholder-big {
    height: 300px;
    width: 215px;
    background-color: rgb(167, 167, 167);
    margin-bottom: 8px;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.input-group {
    width: 280px;
    margin-left: 0px !important;
}

.icon-md {
    background-color: lightgrey;
    width: 40px;
    height: 40px;
}

.icon-sm {
    background-color: lightgrey;
    width: 24px;
    height: 24px;
}

.btn {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.divider {
    height: 48px;
}

.row-plugin {
    height: auto;
    background-color: blanchedalmond;
    border: 0.5px solid black;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.list-item {
    height: 64px;
    width: 352px;
    background-color: rgb(235, 234, 234);
    align-items: center;
}

.step-bar {
    height: 16px;
    width: 560px;
    background-color: darkslategray;
    margin-top: 8px;
    margin-bottom: -16px;
}

.rounded-button {
    width: 40px;
    height: 40px;
    background-color: darkgrey;
    border-radius: 50%;
}

.progress {
    height: 25px;
}