.btn-tskin {
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #D03827;
    --bs-btn-border-color: #D03827/* #FC250D*/;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: #D71F0B;
    --bs-btn-hover-border-color: #CA1D0A;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #CA1D0A;
    --bs-btn-active-border-color: #BE1C0A;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FFFFFF;
    --bs-btn-disabled-bg: #EB6152;
    --bs-btn-disabled-border-color: #EB6152;
}

.btn-outline-tskin {
    --bs-btn-color: #D03827;
    --bs-btn-border-color: #D03827;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #D03827;
    --bs-btn-hover-border-color: #D03827;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #D03827;
    --bs-btn-active-border-color: #D03827;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #D03827;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #D03827;
    --bs-gradient: none;
}


.list-group-item.list-tskin.active {
    z-index: 2;
    color: #212529;
    background-color: #f5e0dd;
    border-color: rgba(0,0,0,0.125);
    border-right: 3px solid #d03827;
}